@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=HhyJU5sn9vOmLxNkIwRSjTVNWLEJBbMV2QEHaPl5VMuS&skey=91e90d677384bade&v=v18) format('woff2');
}
